/*
Код для Абзаца
*/
p {
    color: red;
    font-size:larger;
    width: auto;
    background-color: aqua;
    }
    
    .outer {
      border: 5px solid black;
    }

    .box {
      margin: 30px;
      width: 100px;
      height: 100px;
      background-color: rebeccapurple;
      transform: rotate(0.4turn)
    }
    body {
      background-color: pink;
    }
    
    @media (min-width: 30em) {
      body {
        background-color: blue;
      }
    }