table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgb(142, 117, 27);
  }

html {
    font-family: 'Tilt Prism', cursive;

}


thead th:nth-child(1) {
    width: 30%;
  }
  
  thead th:nth-child(2) {
    width: 20%;
  }
  
  thead th:nth-child(3) {
    width: 15%;
  }

  tbody td {
    text-align: center;
  }
  
  tfoot th {
    text-align: right;
  }

  th, td {
    padding: 20px;
  }

   /* color */
   thead, tfoot {
    background: url(wood.jpg);
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 1px black;
  }

  /* Zagolovok */
  caption {
    font-family: 'Rock Salt', cursive;
    padding: 20px;
    font-style: italic;
    caption-side: bottom;
    color: #666;
    text-align: right;
    letter-spacing: 1px;
  }